In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [ ]:
shop = Shop() # FirstShop(o), first_shop(x), firstShop(x), first_Shop(x)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [ ]:
shop.save()

In [ ]:
shop = Shop.objects.create(
    name="셀프24시빨래방", 
    telephone="042-1234-4321",
)
shop

# Select

In [4]:
qs = Shop.objects.all()

In [5]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

6 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-1234-1234

In [ ]:
qs.order_by("-id") #, "created_at")  -- 정렬은 성능이 좋을 수 있도록 가급적 단일 컬럼 쓰기

## 데이터 뻥튀기

In [7]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:40.221955', '2021-12-01 06:45:40.221955'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:40.221955', '2021-12-01 06:45:40.221955']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:40.243006', '2021-12-01 06:45:40.243006'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:40.243006', '2021-12-01 06:45:40.243006']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:40.250986', '2021-12-01 06:45:40.250986'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:40.250986', '2021-12-01 06:45:40.250986']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:40.257243', '2021-12-01 06:45:40.257243'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:40.257243', '2021-12-01 06:45:40.257243']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:40.265195', '2021-12-01 06:45:40.265195'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:40.265195', '2021-12-01 06:45:40.265195']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:40.272168', '2021-12-01 06:45:40.272168'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:40.272168', '2021-12-01 06:45:40.272168']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:40.279149', '2021-12-01 06:45:40.279149'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:40.279149', '2021-12-01 06:45:40.279149']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:40.289121', '2021-12-01 06:45:40.289121'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:40.289121', '2021-12-01 06:45:40.289121']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:40.297129', '2021-12-01 06:45:40.297129'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:40.297129', '2021-12-01 06:45:40.297129']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:40.305111', '2021-12-01 06:45:40.305111'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:40.305111', '2021-12-01 06:45:40.305111']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:40.312125', '2021-12-01 06:45:40.312125'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:40.312125', '2021-12-01 06:45:40.312125']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:40.319108', '2021-12-01 06:45:40.319108'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:40.319108', '2021-12-01 06:45:40.319108']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:40.327085', '2021-12-01 06:45:40.327085'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:40.327085', '2021-12-01 06:45:40.327085']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:40.334067', '2021-12-01 06:45:40.334067'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:40.334067', '2021-12-01 06:45:40.334067']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:40.341586', '2021-12-01 06:45:40.342565'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:40.341586', '2021-12-01 06:45:40.342565']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:40.353534', '2021-12-01 06:45:40.353534'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:40.353534', '2021-12-01 06:45:40.353534']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:40.361511', '2021-12-01 06:45:40.361511'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:40.361511', '2021-12-01 06:45:40.361511']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:40.368494', '2021-12-01 06:45:40.368494'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:40.368494', '2021-12-01 06:45:40.368494']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:40.398489', '2021-12-01 06:45:40.398489'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:40.398489', '2021-12-01 06:45:40.398489']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:40.405460', '2021-12-01 06:45:40.405460'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:40.405460', '2021-12-01 06:45:40.405460']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:40.412473', '2021-12-01 06:45:40.412473'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:40.412473', '2021-12-01 06:45:40.412473']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:40.423385', '2021-12-01 06:45:40.423385'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:40.423385', '2021-12-01 06:45:40.423385']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:40.432366', '2021-12-01 06:45:40.432366'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:40.432366', '2021-12-01 06:45:40.432366']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:40.439347', '2021-12-01 06:45:40.439347'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:40.439347', '2021-12-01 06:45:40.439347']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:40.450420', '2021-12-01 06:45:40.450420'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:40.450420', '2021-12-01 06:45:40.450420']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:40.458396', '2021-12-01 06:45:40.458396'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:40.458396', '2021-12-01 06:45:40.458396']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:40.470814', '2021-12-01 06:45:40.470814'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:40.470814', '2021-12-01 06:45:40.470814']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:40.478792', '2021-12-01 06:45:40.478792'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:40.478792', '2021-12-01 06:45:40.478792']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:40.489764', '2021-12-01 06:45:40.489764'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:40.489764', '2021-12-01 06:45:40.489764']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:40.498750', '2021-12-01 06:45:40.498750'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:40.498750', '2021-12-01 06:45:40.498750']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:40.506718', '2021-12-01 06:45:40.506718'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:40.506718', '2021-12-01 06:45:40.506718']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:40.515617', '2021-12-01 06:45:40.515617'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:40.515617', '2021-12-01 06:45:40.515617']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:40.523596', '2021-12-01 06:45:40.523596'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:40.523596', '2021-12-01 06:45:40.523596']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:40.531618', '2021-12-01 06:45:40.531618'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:40.531618', '2021-12-01 06:45:40.531618']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:40.539669', '2021-12-01 06:45:40.539669'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:40.539669', '2021-12-01 06:45:40.539669']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:40.565458', '2021-12-01 06:45:40.565458'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:40.565458', '2021-12-01 06:45:40.565458']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:40.573437', '2021-12-01 06:45:40.573437'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:40.573437', '2021-12-01 06:45:40.573437']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:40.582413', '2021-12-01 06:45:40.582413'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:40.582413', '2021-12-01 06:45:40.582413']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:40.598380', '2021-12-01 06:45:40.598380'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:40.598380', '2021-12-01 06:45:40.598380']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:40.606350', '2021-12-01 06:45:40.606350'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:40.606350', '2021-12-01 06:45:40.606350']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:40.615348', '2021-12-01 06:45:40.615348'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:40.615348', '2021-12-01 06:45:40.615348']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:40.623303', '2021-12-01 06:45:40.623303'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:40.623303', '2021-12-01 06:45:40.623303']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:40.634313', '2021-12-01 06:45:40.634313'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:40.634313', '2021-12-01 06:45:40.634313']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:40.641917', '2021-12-01 06:45:40.641917'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:40.641917', '2021-12-01 06:45:40.641917']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:40.648852', '2021-12-01 06:45:40.648852'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:40.648852', '2021-12-01 06:45:40.648852']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:40.655917', '2021-12-01 06:45:40.655917'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:40.655917', '2021-12-01 06:45:40.655917']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:40.661903', '2021-12-01 06:45:40.661903'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:40.661903', '2021-12-01 06:45:40.661903']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:40.668886', '2021-12-01 06:45:40.668886'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:40.668886', '2021-12-01 06:45:40.668886']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:40.674899', '2021-12-01 06:45:40.674899'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:40.674899', '2021-12-01 06:45:40.674899']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:40.681884', '2021-12-01 06:45:40.681884'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:40.681884', '2021-12-01 06:45:40.681884']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:40.688865', '2021-12-01 06:45:40.688865'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:40.688865', '2021-12-01 06:45:40.688865']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:40.695871', '2021-12-01 06:45:40.695871'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:40.695871', '2021-12-01 06:45:40.695871']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:40.702853', '2021-12-01 06:45:40.702853'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:40.702853', '2021-12-01 06:45:40.702853']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:40.709833', '2021-12-01 06:45:40.709833'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:40.709833', '2021-12-01 06:45:40.709833']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:40.719806', '2021-12-01 06:45:40.719806'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:40.719806', '2021-12-01 06:45:40.719806']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:40.725790', '2021-12-01 06:45:40.726789'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:40.725790', '2021-12-01 06:45:40.726789']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:40.736762', '2021-12-01 06:45:40.736762'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:40.736762', '2021-12-01 06:45:40.736762']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:40.743741', '2021-12-01 06:45:40.743741'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:40.743741', '2021-12-01 06:45:40.743741']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:40.750724', '2021-12-01 06:45:40.750724'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:40.750724', '2021-12-01 06:45:40.750724']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:40.757768', '2021-12-01 06:45:40.757768'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:40.757768', '2021-12-01 06:45:40.757768']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:40.764351', '2021-12-01 06:45:40.764351'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:40.764351', '2021-12-01 06:45:40.764351']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:40.774341', '2021-12-01 06:45:40.774341'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:40.774341', '2021-12-01 06:45:40.774341']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:40.782319', '2021-12-01 06:45:40.782319'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:40.782319', '2021-12-01 06:45:40.782319']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:40.788741', '2021-12-01 06:45:40.788741'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:40.788741', '2021-12-01 06:45:40.788741']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:40.795726', '2021-12-01 06:45:40.795726'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:40.795726', '2021-12-01 06:45:40.795726']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:40.802707', '2021-12-01 06:45:40.802707'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:40.802707', '2021-12-01 06:45:40.802707']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:40.808766', '2021-12-01 06:45:40.808766'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:40.808766', '2021-12-01 06:45:40.808766']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:40.815746', '2021-12-01 06:45:40.815746'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:40.815746', '2021-12-01 06:45:40.815746']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:40.821795', '2021-12-01 06:45:40.821795'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:40.821795', '2021-12-01 06:45:40.821795']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:40.827783', '2021-12-01 06:45:40.827783'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:40.827783', '2021-12-01 06:45:40.827783']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:40.834766', '2021-12-01 06:45:40.834766'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:40.834766', '2021-12-01 06:45:40.834766']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:40.840215', '2021-12-01 06:45:40.840215'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:40.840215', '2021-12-01 06:45:40.840215']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:40.846199', '2021-12-01 06:45:40.846199'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:40.846199', '2021-12-01 06:45:40.846199']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:40.854178', '2021-12-01 06:45:40.854178'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:40.854178', '2021-12-01 06:45:40.854178']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:40.861160', '2021-12-01 06:45:40.861160'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:40.861160', '2021-12-01 06:45:40.861160']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:40.868140', '2021-12-01 06:45:40.868140'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:40.868140', '2021-12-01 06:45:40.868140']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:40.874124', '2021-12-01 06:45:40.874124'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:40.874124', '2021-12-01 06:45:40.874124']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:40.881116', '2021-12-01 06:45:40.881116'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:40.881116', '2021-12-01 06:45:40.881116']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:40.890082', '2021-12-01 06:45:40.890082'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:40.890082', '2021-12-01 06:45:40.890082']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:40.896272', '2021-12-01 06:45:40.897281'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:40.896272', '2021-12-01 06:45:40.897281']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:40.903255', '2021-12-01 06:45:40.903255'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:40.903255', '2021-12-01 06:45:40.903255']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:40.909768', '2021-12-01 06:45:40.909768'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:40.909768', '2021-12-01 06:45:40.909768']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:40.916752', '2021-12-01 06:45:40.916752'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:40.916752', '2021-12-01 06:45:40.916752']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:40.922236', '2021-12-01 06:45:40.922236'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:40.922236', '2021-12-01 06:45:40.922236']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:40.934241', '2021-12-01 06:45:40.934241'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:40.934241', '2021-12-01 06:45:40.934241']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:40.940441', '2021-12-01 06:45:40.940441'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:40.940441', '2021-12-01 06:45:40.940441']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:40.948212', '2021-12-01 06:45:40.948212'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:40.948212', '2021-12-01 06:45:40.948212']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:40.955288', '2021-12-01 06:45:40.955288'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:40.955288', '2021-12-01 06:45:40.955288']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:40.960516', '2021-12-01 06:45:40.960516'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:40.960516', '2021-12-01 06:45:40.960516']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:40.967497', '2021-12-01 06:45:40.967497'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:40.967497', '2021-12-01 06:45:40.967497']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:40.973253', '2021-12-01 06:45:40.973253'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:40.973253', '2021-12-01 06:45:40.973253']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:40.979176', '2021-12-01 06:45:40.979176'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:40.979176', '2021-12-01 06:45:40.979176']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:40.987158', '2021-12-01 06:45:40.987158'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:40.987158', '2021-12-01 06:45:40.987158']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:40.993475', '2021-12-01 06:45:40.993475'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:40.993475', '2021-12-01 06:45:40.993475']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:41.000456', '2021-12-01 06:45:41.000456'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:41.000456', '2021-12-01 06:45:41.000456']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:41.005912', '2021-12-01 06:45:41.005912'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:41.005912', '2021-12-01 06:45:41.005912']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:41.011895', '2021-12-01 06:45:41.011895'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:41.011895', '2021-12-01 06:45:41.011895']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:41.018877', '2021-12-01 06:45:41.018877'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:41.018877', '2021-12-01 06:45:41.018877']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:41.024860', '2021-12-01 06:45:41.024860'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:41.024860', '2021-12-01 06:45:41.024860']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:41.031843', '2021-12-01 06:45:41.031843'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:41.031843', '2021-12-01 06:45:41.031843']

## Slicing

In [8]:
qs = Shop.objects.all()

In [9]:
qs[:10] # first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>]>

In [10]:
qs[0:10:2]

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (106)>,
 <Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>]

In [11]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [13]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

14 가게명#8 042-1234-9008
13 가게명#7 042-1234-9007
12 가게명#6 042-1234-9006
11 가게명#5 042-1234-9005
10 가게명#4 042-1234-9004
9 가게명#3 042-1234-9003
8 가게명#2 042-1234-9002
7 가게명#1 042-1234-9001
6 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-1234-1234

## Conditions

In [14]:
qs = Shop.objects.all()

In [15]:
# filter, exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [16]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [17]:
# lt : less than               <
#lte : less than equal         <=
#gt : greater than             >
#gte : greather than equal     >=
qs.filter(
    pk__gte=5,
    pk__lt=10, # less than 
    
)   # 모두 and 조건으로 묶임

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" < 10 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(10,)

In [18]:
qs.filter(pk__gte=5).filter(pk__lt=10)  #

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [19]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [20]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# qs1과 qs2는 똑같은 쿼리셋임

In [ ]:
# QuerySet is Lazy

In [21]:
qs = Shop.objects.all()

In [22]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [23]:
# qs = Shop.objects.all()
# shop_list = list(qs)  # 최대한 list화는 안 하는 게 좋음 . Never!!!

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

# Get 1 Row

In [28]:
pk = 10
not_existed_pk = 100000

In [25]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [29]:
Shop.objects.get(pk=not_existed_pk)  #Shop.DoesNotExist 예외가 발생

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [27]:
shop = Shop.objects.filter(pk=pk)[0]  # 
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [30]:
Shop.objects.filter(pk=not_existed_pk)[0]  # IndexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [31]:
Shop.objects.filter(pk=not_existed_pk).first()  # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [32]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)  # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [33]:
from django.db.models import Q

In [34]:
Q(pk__gte=5)

In [36]:
Q(pk__lt=10)

In [37]:
Q(pk__gte=5) & Q(pk__lt=10)

In [38]:
Q(pk__gte=5) | Q(pk__lt=10)

In [39]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [40]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [41]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [42]:
shop.name, shop.telephone

('가게명#4', '042-1234-9004')

In [43]:
shop.telephone = '042-1234-0006'

In [44]:
shop.save()

(0.016) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:40.257243', "updated_at" = '2021-12-01 07:38:40.252361' WHERE "mall_shop"."id" = 10; args=('가게명#4', '', '042-1234-0006', '', '2021-12-01 06:45:40.257243', '2021-12-01 07:38:40.252361', 10)

## 지정 범위의 Rows

In [46]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description"
)

(0.031) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

6

In [47]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:40.257243', "updated_at" = '2021-12-01 07:42:10.032931' WHERE "mall_shop"."id" = 10; args=('가게명#4', 'not used description', '042-1234-0006', '', '2021-12-01 06:45:40.257243', '2021-12-01 07:42:10.032931', 10)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:40.250986', "updated_at" = '2021-12-01 07:42:10.048918' WHERE "mall_shop"."id" = 9; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:40.250986', '2021-12-01 07:42:10.048918', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:40.243006', "updated_at" = '2021-12-01 07:42:10.056886' WHERE "mall_shop"."id" = 8; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:40.243006', '2021-12-01 07:42:10.056886', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:40.221955', "updated_at" = '2021-12-01 07:42:10.065879' WHERE "mall_shop"."id" = 7; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:40.221955', '2021-12-01 07:42:10.065879', 7)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:14.918017', "updated_at" = '2021-12-01 07:42:10.074540' WHERE "mall_shop"."id" = 6; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:14.918017', '2021-12-01 07:42:10.074540', 6)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:11:12.422240', "updated_at" = '2021-12-01 07:42:10.082517' WHERE "mall_shop"."id" = 5; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:11:12.422240', '2021-12-01 07:42:10.082517', 5)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()